
.icon-water:before { content: '\e800'; } /* '' */
.icon-droplet:before { content: '\e801'; } /* '' */
.icon-temperatire:before { content: '\e802'; } /* '' */
.icon-temperature:before { content: '\e803'; } /* '' */
.icon-na:before { content: '\e804'; } /* '' */
.icon-celcius:before { content: '\e805'; } /* '' */
.icon-fahrenheit:before { content: '\e806'; } /* '' */
.icon-spin5:before { content: '\e807'; } /* '' */